<%= render "decidim/action_delegator/admin/shared/tabs_menu" %>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for @form, url: setting_manage_participants_path(current_setting), multipart: true, html: { id: "csv-form-edit", class: "form-defaults new_import" } do |form| %>
      <%= form.hidden_field :setting_id, value: current_setting.id %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <div class="row column">
              <h2 class="h3 mb-4">
                <%= t("decidim.action_delegator.admin.manage_participants.new.title") %>
              </h2>
              <p><%= t(".upload_instructions") %></p>
              <p><%= t(".required_fields", authorization_method: t(".authorization_method.#{current_setting.authorization_method}")) %></p>
              <p><%= t(".title_example") %></p>
              <pre class="code-block">
                email,phone,weight
                foo@example.org,6660000,1.5
                bar@example.org,6660001,1
                baz@example.org,6660002,2
                ...</pre>
              <p><%= t(".describe") %></p>
              <pre class="code-block">
                email,phone,weight
                foo@example.org,6660000,producer
                bar@example.org,6660001,consumer
                baz@example.org,6660002,associate
                ...
              </pre>
            </div>
            <div class="row column">
              <%= form.upload :csv_file,
                              button_label: t(".upload_button"),
                              help: t(".upload_help"),
                              help_i18n_scope: nil,
                              button_class: "button button__sm button__transparent-secondary" %>
            </div>
            <div class="item__edit-sticky">
              <div class="item__edit-sticky-container">
                <%= form.submit t(".import"), class: "button button__sm button__secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
