<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-12">
    <h1 class="h1 decorator inline-block text-left">
      <%= t("title", scope: "decidim.action_delegator.verifications.delegations_verifier.authorizations.new") %>
    </h1>
  </div>
  <div class="page__container page__container-open_data">
    <div class="editor-content">
      <%= decidim_form_for(@form, url: authorization_path(redirect_url: redirect_url), html: { class: "form" }) do |form| %>
        <div class="form__wrapper">
          <%= form_required_explanation %>
          <% if setting&.email_required? %>
            <% unless @form.participant.present? %>
              <%= cell("decidim/announcement", t("not_in_census", scope: "decidim.action_delegator.verifications.delegations_verifier.authorizations.new")) %>
            <% end %>

            <%= form.text_field :email, readonly: true %>
          <% end %>

          <% if setting&.phone_required? %>
            <%= form.text_field :phone, readonly: setting&.verify_with_both? %>

            <% if setting&.verify_with_both? %>
              <%= cell("decidim/announcement", t("phone_warning", scope: "decidim.action_delegator.verifications.delegations_verifier.authorizations.new")) %>
            <% end %>
          <% end %>

          <p><%= t("participate_in", scope: "decidim.action_delegator.verifications.delegations_verifier.authorizations.new", resources: "<b>#{translated_attribute(@form.setting.title)}</b>").html_safe %></p>

          <div class="form__wrapper-block">
            <%= form.submit t(setting&.phone_required? ? "send_code" : "authorize", scope: "decidim.action_delegator.verifications.delegations_verifier.authorizations.new"), :class => "button button__lg button__secondary", "data-disable-with" => "#{t("send_code", scope: "decidim.action_delegator.verifications.delegations_verifier.authorizations.new")}...", :disabled => (setting&.email_required? && (!@form.participant || (@form.phone.blank? && setting&.verify_with_both?))) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
