<%= render "decidim/action_delegator/admin/shared/tabs_menu" do %>
  <div>
    <%= link_to t("decidim.action_delegator.admin.delegations.index.actions.new_delegation"), decidim_admin_action_delegator.new_setting_delegation_path(current_setting), class: "main-tabs-menu__cta-button" %>
    <%= link_to t("decidim.action_delegator.admin.delegations.index.actions.csv_import"), decidim_admin_action_delegator.new_setting_manage_delegation_path(current_setting), class: "main-tabs-menu__cta-button" %>
  </div>
<% end %>

<div class="card" id='user-groups'>
  <div class="card-section">
    <p class="help-text mb-4"><%= t ".description_html" %></p>
    <div class="table-stacked">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t(".granter") %></th>
            <th><%= t(".grantee") %></th>
            <th><%= t(".grantee_voted") %></th>
            <th><%= t(".created_at") %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% delegations.each do |delegation| %>
            <tr data-delegation-id="<%= delegation.id %>">
              <td><%= delegation.granter.name %></td>
              <td><%= delegation.grantee.name %></td>
              <td><%= t("booleans.#{delegation.grantee_voted?}") %></td>
              <td><%= l delegation.created_at, format: :short %></td>

              <td class="table-list__actions">
                <%= icon_link_to "delete-bin-line", decidim_admin_action_delegator.setting_delegation_path(delegation.setting, delegation), t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } unless delegation.grantee_voted? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= decidim_paginate delegations %>
  </div>
</div>
