<%= render "decidim/action_delegator/admin/shared/tabs_menu" do %>
  <%= button_tag t("decidim.action_delegator.admin.settings.new.save"), class: "main-tabs-menu__cta-button", form: "delegation-form-edit" %>
<% end %>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, url: { action: "create" }, html: { id: "delegation-form-edit", class: "form-defaults form new_delegation" }) do |form| %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <% prompt_options = { url: decidim_admin.users_organization_url, placeholder: t(".select_member") } %>

            <div class="row column">
              <%= form.autocomplete_select(:granter_id, @form.granter, { multiple: false, label: t(".granter"), class: "autocomplete-field--results-inline" }, prompt_options) do |user|
                { value: user.id, label: "#{user.name} (@#{user.nickname})" }
              end %>
            </div>
            <div class="row column">
              <%= form.autocomplete_select(:grantee_id, @form.grantee, { multiple: false, label: t(".grantee"), class: "autocomplete-field--results-inline" }, prompt_options) do |user|
                { value: user.id, label: "#{user.name} (@#{user.nickname})" }
              end %>
            </div>
            <div class="item__edit-sticky">
              <div class="item__edit-sticky-container">
                <%= form.submit t(".save"), class: "button button__sm button__secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
