<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= link_to translated_attribute(current_setting.title), decidim_admin_action_delegator.settings_path %> &gt;
    <%= link_to t("title", scope: "decidim.action_delegator.admin.ponderations.index"), decidim_admin_action_delegator.setting_ponderations_path(current_setting) %> &gt;
    <%= t ".title" %>
  </h1>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for @form, url: { action: "update" }, html: { class: "form-defaults form edit_ponderation" } do |form| %>
      <%= render partial: "form", object: form %>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= form.submit t(".save"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
