<%= render "decidim/action_delegator/admin/shared/tabs_menu" do %>
  <%= link_to t("decidim.action_delegator.admin.ponderations.new.title"), decidim_admin_action_delegator.new_setting_ponderation_path, class: "main-tabs-menu__cta-button" %>
<% end %>

<div class="card with-overflow" id='user-groups'>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t(".name") %></th>
            <th><%= t(".weight") %></th>
            <th><%= t(".num_users") %></th>
            <th><%= t(".created_at") %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% ponderations.each do |ponderation| %>
            <tr data-ponderation-id="<%= ponderation.id %>">
              <td><%= ponderation.name %></td>
              <td><%= ponderation.weight %></td>
              <td><%= ponderation.participants.count %></td>
              <td><%= l ponderation.created_at, format: :short %></td>

              <td class="table-list__actions">
                <%= icon_link_to "pencil-line", decidim_admin_action_delegator.edit_setting_ponderation_path(ponderation.setting, ponderation), t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit" %>
                <%= icon_link_to "delete-bin-line", decidim_admin_action_delegator.setting_ponderation_path(ponderation.setting, ponderation), t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } if ponderation.destroyable? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= decidim_paginate ponderations %>
  </div>
</div>
