<%= render "decidim/action_delegator/admin/shared/tabs_menu" do %>
  <%= button_tag t("decidim.action_delegator.admin.settings.edit.save"), class: "main-tabs-menu__cta-button", form: "main-setting-form-edit" %>
<% end %>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { id: "main-setting-form-edit", class: "form-defaults form edit_setting setting_form_admin" }) do |form| %>
      <%= render partial: "form", object: form %>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= form.submit t(".save"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
