<% add_decidim_page_title(t(".title")) %>

<div class="card with-overflow" id='user-groups'>
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t ".title" %>
      <%= link_to t(".actions.new_setting"), decidim_admin_action_delegator.new_setting_path, class: "button button__sm button__secondary" %>
    </h1>
  </div>
  <div class="card-section">
    <p class="help-text"><%= t ".description_html" %></p>
    <%= render "check_verifier" %>
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t(".name") %></th>
            <th><%= t(".max_grants") %></th>
            <th><%= t(".authorization_method") %></th>
            <th><%= t(".delegations") %></th>
            <th><%= t(".ponderations") %></th>
            <th><%= t(".census") %></th>
            <th><%= t(".created_at") %></th>
            <th><%= t(".state") %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% settings.each do |setting| %>
            <tr data-setting-id="<%= setting.id %>">
              <td><%= link_to translated_attribute(setting.title), edit_setting_path(setting) %></td>
              <td><%= setting.max_grants %></td>
              <td class="text-<%= setting.phone_required? ? (setting.verify_with_both? ? "success" : "secondary") : "warning" %>"><%= t setting.authorization_method, scope: "decidim.action_delegator.admin.settings.authorization_method" %></td>
              <td><%= setting.delegations.count %></td>
              <td><%= setting.ponderations.count %></td>
              <td><%= setting.participants.count %></td>
              <td><%= l setting.created_at, format: :short %></td>
              <td class="text-<%= setting.ongoing? ? "warning" : (setting.editable? ? "success" : "alert") %>"><%= t setting.state, scope: "decidim.action_delegator.admin.settings.state" %></td>
              <td class="table-list__actions">
                <%= icon_link_to "pencil-line", edit_setting_path(setting), t("actions.edit", scope: "decidim.admin"), class: "action-icon--edit" %>
                <%= icon_link_to "scales-line", setting_ponderations_path(setting), t(".actions.ponderate"), class: "action-icon--edit" %>
                <%= icon_link_to "group-line", setting_participants_path(setting), t(".actions.census"), class: "action-icon--edit" %>
                <%= icon_link_to "user-shared-line", setting_delegations_path(setting), t(".actions.delegations"), class: "action-icon--edit" %>
                <%= icon_link_to "delete-bin-line", setting_path(setting), t("actions.destroy", scope: "decidim.admin"), class: "action-icon--remove", method: :delete, data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } if setting.destroyable? %>
              </td>
            </tr>
            <% if setting.editable? %>
            <tr>
              <td colspan="9">
                <%= render "setting_checks", setting: setting %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= decidim_paginate settings %>
  </div>
</div>
