<%= render "decidim/action_delegator/admin/shared/tabs_menu" %>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for @form, url: setting_manage_delegations_path(current_setting), multipart: true, html: { class: "form-defaults new_import" } do |form| %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <%= form.hidden_field :setting_id, value: current_setting.id %>
            <div class="row column">
              <h2 class="h3 mb-4">
                <%= t("decidim.action_delegator.admin.manage_delegations.new.title") %>
              </h2>
              <p><%= t(".upload_instructions") %></p>
              <p><%= t(".required_fields") %></p>
              <p><%= t(".title_example") %></p>
              <pre class="code-block">
  from,to
  user_1@example.org,user_2@example.org
  user_3@example.org,user_4@example.org
  ...
              </pre>
            </div>
            <div class="row column">
              <%= form.upload :csv_file,
                              button_label: t(".upload_button"),
                              help_i18n_scope: nil,
                              help: t(".upload_help"),
                              button_class: "button button__sm button__transparent-secondary" %>
            </div>

            <div class="item__edit-sticky">
              <div class="item__edit-sticky-container">
                <%= form.submit t(".import"), class: "button button__sm button__secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
